<header>
  <h1>Welcome to Hipflat demo</h1>
</header>
<content>
  <p>This project is designed to use Ruby on Rails and MongoDB to create a web application storing buildings data</p>
</content>
<footer>
  &copy; 2015
</footer>
